node_fullname = "poa-tf"
node_admin_email = "user@example.com"
netstat_server_url = ""
netstat_server_secret = ""
mining_keyfile = ""
mining_address = ""
mining_keypass = ""
moc_keypass = ""
moc_keyfile = ""
