**/.DS_Store
**/.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
*.retry
hosts
terraform/azure/provision.sh
playbooks/files/*.pub
playbooks/group_vars/all
terraform.tfvars
terraform/azure/ansible/*
**/deployment-playbooks/*
id_rsa
*.pub