#Name of your network
NETWORK_NAME: "POA"
#Name of the deployment environment
ENVIRONMENT_NAME: "POA"

#Where terraform binary is located
terraform_location: "/usr/local/bin/terraform"

#Path where your public SSH key stored. Will be used to connect to external instance
PUB_KEY_STORE: "id_rsa.pub"

#Set to false if you have already prepared Resource group on your own. If set to false, resource_group_name is required.
prepare_resource_group: true
##Prefix, that will be used for all resources ("tf-" by default)
#tf_prefix: "tf-"
##Set name of resource group. Will not be prefixed.
resource_group_name : "tf-test-full-setup"
##Region where resources should be created
#region : "East US"

#User to connect to remote machine
ansible_user: poa

#If set to true - Terraform will be using remote state instead of local.
backend: false