network_name           = "{{ NETWORK_NAME }}"
environment_name       = "{{ ENVIRONMENT_NAME }}"
bootnode_count         = "{{ bootnode_count }}"
bootnode_lb_count      = "{{ bootnode_balanced_count }}"
validator_count        = "{{ validator_count }}"
ssh_public_key         = "{{ PUB_KEY_STORE }}"
prepare_resource_group = "{% if prepare_resource_group %}1{% else %}0{% endif %}"
region                 = "{{ region }}"
resource_group_name    = "{{ resource_group_name }}"
admin_username         = "{{ ansible_user }}"
prefix                 = "{{ tf_prefix }}"