network_name           = "{{ NETWORK_NAME }}"
environment_name       = "{{ NETWORK_NAME }}"
bootnode_count         = "{{ bootnode_count }}"
bootnode_lb_count      = "{{ bootnode_balanced_count }}"
validator_count        = "{{ validator_count }}"
ssh_public_key         = "{{ PUB_KEY_STORE | default("") }}"
prepare_resource_group = "{% if prepare_resource_group %}1{% else %}0{% endif %}"
region                 = "{{ region | default("East US") }}"
resource_group_name    = "{{ resource_group_name | default("tf-test-full-setup") }}"
admin_username         = "{{ ansible_user | default("poa") }}"
prefix                 = "{{ tf_prefix | default("tf-") }}"