[bootnode]
{% for h in groups['bootnode'] %}
{{ hostvars[h].ansible_ssh_host }}
{% endfor %}

[moc]
{% for h in groups['moc'] %}
{{ hostvars[h].ansible_ssh_host }}
{% endfor %}

[netstat]
{% for h in groups['netstat'] %}
{{ hostvars[h].ansible_ssh_host }}
{% endfor %}

[validator]
{% for h in groups['validator'] %}
{{ hostvars[h].ansible_ssh_host }}
{% endfor %}

[explorer]
{% for h in groups['explorer'] %}
{{ hostvars[h].ansible_ssh_host }}
{% endfor %}

[poa:children]
bootnode
moc
netstat
validator
explorer

[centos]

[ubuntu]
{% for h in groups['all'] %}
{% if h not in groups['balancer'] %}{{ hostvars[h].ansible_ssh_host }}{% endif %}
{% endfor %}

[lb]
{% for h in groups['balancer'] %}
{{ hostvars[h].ansible_ssh_host }}
{% endfor %}