{% for group_name, group in groups %}{% raw %}[{% endraw %}{{ group_name }}{% raw %}]{% endraw %}
{% for host in group %}
{{ host }}
{% endfor %}
{% endfor %}
[poa:children]
bootnode
moc
netstat
validator
explorer
 
[centos]
 
[ubuntu]
{% for h in groups['all'] %}
{% if groups['balancer'] is defined %}
{% if h not in groups['balancer'] %}
{{ h }}
{% endif %}
{% else %}
{{ h }}
{% endif %}
{% endfor %} 