[bootnode]
{% for h in groups['bootnode'] %}
{{ hostvars[h].inventory_hostname }}
{% endfor %}

[moc]
{% for h in groups['moc'] %}
{{ hostvars[h].inventory_hostname }}
{% endfor %}

[netstat]
{% for h in groups['netstat'] %}
{{ hostvars[h].inventory_hostname }}
{% endfor %}

[validator]
{% for h in groups['validator'] %}
{{ hostvars[h].inventory_hostname }}
{% endfor %}

[explorer]
{% for h in groups['explorer'] %}
{{ hostvars[h].inventory_hostname }}
{% endfor %}

[poa:children]
bootnode
moc
netstat
validator
explorer

[centos]

[ubuntu]
{% for h in groups['all'] %}
{% if h not in groups['balancer'] %}
{{ hostvars[h].inventory_hostname }}
{% endif %}
{% endfor %}

[lb]
{% for h in groups['balancer'] %}
{{ hostvars[h].inventory_hostname }}
{% endfor %}
