network_name           = "{{ NETWORK_NAME }}"
environment_name       = "{{ ENVIRONMENT_NAME }}"
bootnode_count         = "{{ bootnode_count }}"
bootnode_lb_count      = "{{ bootnode_balanced_count }}"
validator_count        = "{{ validator_count }}"
ssh_public_key         = "{{ PUB_KEY_STORE }}"
region                 = "{{ region }}"
resource_group_name    = "{% if resource_group_name %}{{ resource_group_name }}{% else %}{{ default_resource_group_name }}{% endif %}"
admin_username         = "{{ ansible_user }}"
prefix                 = "{{ tf_prefix }}"